<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title >Hosing Price Prediction</title>
  <!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='C:\Users\Surji\OneDrive\Desktop\style.css') }}"> -->
  
</head>

<body >
  <iframe src="https://bvcoepros.shinyapps.io/krishna" title="Sentiment Analysis" style="width: 100vw;height: 100vh;"></iframe>

</body>
</html>
